/*********
  App
**********/

.home-content {
  position:relative;
  height:85vh;
  min-height:500px;
  max-height:1080px;
  background-image: url('../IMG/home-bg.jpg');
  background-size:cover;
  overflow:hidden
}

.lead-content {
  position:absolute;
  z-index:10;
  top:37.5%;
  left:20%;
  transform:translate(-30%, -20%);
  text-align:center;
}

.lead-content h1,.lead-content h2, .lead-content h3 {
  margin:0
}

.lead-content h1 {
  color:#fff;
  font-weight:900;
  font-size:5em;
  text-transform:uppercase;
  letter-spacing:0.05em;
  line-height:0.9em
}

.lead-content h2 {
  color:#ff7733;
  font-weight:1000;
  font-size:3.5em;
  margin-top:5px;
}

.lead-content h3 {
  color:#e6a055;
  font-weight:1000;
  font-size:2.1em;
  margin-bottom:15px;
}
/*********
  Footer
**********/
.footer-navbar {
  margin: auto;
  color: #FFFFFF;
  padding-top: .5em;
  padding-bottom: .5em;
  font-weight: bold; 
}

/*********
  About
**********/
.about {
  text-align: center;
}

#about-jumbotron { 
  margin-bottom: 0; 
}

.team {
  margin-bottom: 5em;
}

.team-title {
  text-align: center;
  margin-bottom: 1.5em;
}

.tools {
  text-align: center;
}

.spinner-about {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.toolLogo {
  width: 4em;
  height: 4em;
}

/*********
  NotFoundPage
**********/
.not-found-section {
  margin-left: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.h3-not-found {
  font-size: 5em; 
}

/*********
  Model Pages: Fruit,Recipe,Vegetables,Nutrition
**********/
.model-container{
  margin-bottom: 3em;
}

.model-title {
  text-align: center;
  font-size: 3em; 
}

.model-card {
  width: 18rem;
}

.model-card-img{
  width: 180;  
}

.model-instance-title {
  color: black;
}

.model-pagination {
  justify-content: center;
}

.model-spinner-hidden {
  visibility: hidden;
}

.model-spinner-visible {
  visibility: visible;
}

/*********
  Instance Pages: Fruit/:name,Recipe/:name,Vegetables/:name,Nutrition/:name
**********/
.instance-title{
  text-align: center;
  font-size: 3em; 
}

.instance-container{
  margin-bottom: 3em;
}

.instance-div {
  text-align: center;
}

.instance-card-img{
  width: 100%;
  height: 27vw;  
}

/*********
  Search Result Pages
**********/
.search-result-title {
  text-align: center;
  font-size: 3em; 
}

.keyword {
  text-align: center;
  font-size: 3em; 
}

.keyword-highlight {
  background-color: yellow;
  padding-left: 1px;
  padding-right: 1px;
}

.keyword-dropdown {
  text-align: center;
}
